---
const { img, description, credit, creditLink } = Astro.props;
---

<div class="grid space-y-4 sm:grid-cols-2 sm:space-y-0">
  <div class="flex flex-col justify-center">
    <img
      src={img}
      alt={description}
      width="200px"
      height="260px"
      class="h-[260px] w-full border-2 border-accent2 bg-yellow-200 object-cover shadow-[10px_10px_rgba(0,0,0,0.3)]"
    />
    <p class="ml-2 mt-2 text-left text-xs text-slate-300">
      Photo credit:
      <a
        class="hover:underline"
        href={creditLink}
        target="_blank"
        rel="noopener noreferrer">{credit}</a
      >
    </p>
  </div>
  <div class="ml-12 flex items-center text-lg drop-shadow-[0_0_8px_#FF5DA9]">
    <p>{description}</p>
  </div>
</div>
