---
const { question, cardId } = Astro.props;
---

<div
  class="space-y-2 overflow-clip bg-dark-bg p-4 text-left text-sm shadow-[6px_6px_rgba(0,0,0,0.3)] motion-safe:transition-transform motion-safe:hover:scale-105 motion-safe:hover:shadow-[8px_8px_rgba(0,0,0,0.3)] lg:space-y-3 lg:p-6"
  id=`faq${cardId}`
>
  <p class="text-2xl leading-6 lg:text-3xl lg:leading-7">
    {question}
  </p>
  <p class="font-sans text-sm lg:text-base">
    <slot />
  </p>
</div>

<script define:vars={{ cardId }}>
  let hash = window.location.hash;
  if (hash == `#faq${cardId + 1}`) {
    document
      .getElementById(`faq${cardId}`)
      .classList.remove("shadow-[6px_6px_rgba(0,0,0,0.3)]");
    document.getElementById(`faq${cardId}`).classList.add("border-2");
    document.getElementById(`faq${cardId}`).classList.add("border-accent");
  }
</script>

<!-- ---
const { question, answer, cardId } = Astro.props;
---

<div
  class="overflow-clip rounded-lg bg-primary-bg text-left motion-safe:transition-transform motion-safe:hover:scale-105"
  id=`faq${cardId}`
>
  <div class="block px-6 py-4">
    <p>- {question}</p>
  </div>

  <div class="bg-light-bg w-full px-6 py-4 font-normal text-black">
    <p>{answer}</p>
  </div>
</div>

<script define:vars={{ cardId }}>
  let hash = window.location.hash;
  if (hash == `#faq${cardId}`) {
    document
      .getElementById(`faq${cardId}`)
      .classList.add("drop-shadow-[0_0_14px_#FF5DA9]");
  }
</script> -->
