---
const { question, answer, cardId } = Astro.props;
---

<div
  class="space-y-1 overflow-clip bg-dark-bg px-6 py-4 text-left text-sm text-white shadow-[6px_6px_rgba(0,0,0,0.3)] motion-safe:transition-transform motion-safe:hover:scale-105 motion-safe:hover:shadow-[8px_8px_rgba(0,0,0,0.3)]"
  id=`faq${cardId}`
>
  <p class="font-bold">{question}</p>
  <p>{answer}</p>
</div>

<script define:vars={{ cardId }}>
  let hash = window.location.hash;
  if (hash == `#faq${cardId}`) {
    document
      .getElementById(`faq${cardId}`)
      .classList.remove("shadow-[6px_6px_rgba(0,0,0,0.3)]");
    document.getElementById(`faq${cardId}`).classList.add("shadow-[6px_6px_#FF5DA9]");
    document
      .getElementById(`faq${cardId}`)
      .classList.remove("motion-safe:hover:shadow-[8px_8px_rgba(0,0,0,0.3)]");
    document
      .getElementById(`faq${cardId}`)
      .classList.add("motion-safe:hover:shadow-[8px_8px_#FF5DA9]");
  }
</script>

<!-- ---
const { question, answer, cardId } = Astro.props;
---

<div
  class="overflow-clip rounded-lg bg-primary-bg text-left motion-safe:transition-transform motion-safe:hover:scale-105"
  id=`faq${cardId}`
>
  <div class="block px-6 py-4">
    <p>- {question}</p>
  </div>

  <div class="bg-light-bg w-full px-6 py-4 font-normal text-black">
    <p>{answer}</p>
  </div>
</div>

<script define:vars={{ cardId }}>
  let hash = window.location.hash;
  if (hash == `#faq${cardId}`) {
    document
      .getElementById(`faq${cardId}`)
      .classList.add("drop-shadow-[0_0_14px_#FF5DA9]");
  }
</script> -->
