---
const { name, cardId } = Astro.props;
---

<div
  class="rounded-ms border-2 border-accent bg-primary-bg px-6 py-5 font-sans"
  id=`faq${cardId}`
>
  <p class="text-2xl font-bold">
    {name}
  </p>
  <p class="text-sm">
    <slot />
  </p>
</div>

<script define:vars={{ cardId }}>
  let hash = window.location.hash;
  if (hash == `#link${cardId + 1}`) {
    document
      .getElementById(`link${cardId}`)
      .classList.remove("shadow-[6px_6px_rgba(0,0,0,0.3)]");
    document.getElementById(`link${cardId}`).classList.add("border-2");
    document.getElementById(`link${cardId}`).classList.add("border-accent");
  }
</script>
