---
interface Props {
  title: string;
}

const { title } = Astro.props;
const description =
  "Apocalypse is Toronto's biggest in-person high school hackathon. For 44 hours, build fun tech with 150 other high school programmers & engineers to survive the zombie apocalypse!";
const banner = "/banner.png";
const { slug } = Astro.params;

// import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{title}</title>
    <div id="homesection"></div>
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content=`https://apocalypse.hackclub.com/${slug}` />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={banner} />

    <meta
      name="twitter:description"
      content="Apocalypse is Toronto's biggest in-person high school hackathon. For 44 hours, build fun tech with 150 other high school programmers & engineers to survive the zombie apocalypse!"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content=`https://apocalypse.hackclub.com/${slug}` />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={banner} />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="apocalypse.hackclub.dev"
      src="https://plausible.io/js/script.js"></script>

    <link rel="icon" type="image/png" href="/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <slot />
    <!-- <SpeedInsights /> -->
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }

  body {
    @apply overflow-x-clip bg-dark-bg font-main text-purple-50;
  }

  @font-face {
    font-family: "NeueBit-Bold";
    src:
      url("/fonts/NeueBit-Bold.woff2") format("woff2"),
      url("/fonts/NeueBit-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: block;
    /* TODO: block is a little controversial, but swap feels more jarring */
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-UltraBlack.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Black.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-UltraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: block;
  }
</style>
